.card {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.card__image {
	height: 282px;
	width: 282px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__description {
	display: flex;
	background-color: white;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	justify-content: space-between;
	border-end-end-radius: 10px;
	border-end-start-radius: 10px;
}

.card__title {
	font-size: 24px;
	font-weight: 900;
	color: black;
	margin-top: 0;
	margin-bottom: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.card__like-button {
	background: transparent url(../images/like-button-inactive.svg) center no-repeat;
	width: 21px;
	height: 18px;
	border: none;
	cursor: pointer;
}

.card__like-button_active {
	background: url(../images/like-button-active.svg);
}

.card__like-button:hover {
	opacity: 0.5;
}

.card__delete-button {
	background: transparent url(../images/delete-icon.svg) center no-repeat;
	width: 18px;
	height: 20px;
	cursor: pointer;
	border: none;
	position: relative;
	bottom: calc(100% - 18px);
	left: calc(100% - 33px);
}

.card__delete-button:hover {
	opacity: 0.6;
}

