.footer {
	padding-left: 200px;
	margin-top: 67px;
	padding-bottom: 60px;
}

.footer__copyright {
	color: #545454;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
	.footer {
		padding: 0;
		margin-left: 19px;
		margin-bottom: 36px;
		margin-top: 48px;
	}

	.footer__copyright {
		font-size: 14px;
		line-height: 17px;
	}
}
