.header {
	padding-top: 45px;
	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
	padding-bottom: 41px;
	max-width: 880px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.header__image {
	width: 173px;
	height: 33px;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
	.header {
		padding-top: 28px;
		max-width: 880px;
		width: 100%;
		position: relative;
		margin: 0 auto;
		padding-left: 27px;
	}

	.header__image {
		width: 126px;
		height: 24px;
	}
}
