.page {
	background-color: black;
	color: white;
	font-family: "Inter";
}

.page__section {
	max-width: 880px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.page__content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
	.page__section {
		width: calc(100% - 38px);
	}
}

@media screen and (min-width: 760px) and (max-width: 1100px) {
	.page__section {
		padding-left: 19px;
		padding-right: 19px;
		margin: 0 auto;
		width: calc(100% - 38px);
	}
}
