.profile {
	display: flex;
	align-items: center;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 51px;
}

.profile__image {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	object-fit: cover;
	background-position: center;
	margin-right: 24px;
}

.profile__info {
	display: grid;
	grid-template-areas: "title button" "description description";
	grid-template-columns: minmax(auto, 373px) auto;
	align-items: center;
}

.profile__title {
	font-size: 42px;
	font-weight: 500;
	grid-area: title;
	margin: 0 0 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.profile__edit-button {
	background: transparent url(../images/edit-icon.svg) center no-repeat;
	height: 24px;
	width: 24px;
	grid-template-areas: "button";
	border: 1px solid white;
	margin-left: 18px;
}

.profile__description {
	font-size: 18px;
	grid-template-areas: "description";
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.profile__add-button {
	background: transparent url(../images/add-icon.svg) center no-repeat;
	height: 50px;
	width: 150px;
	margin-left: auto;
	border: 1px solid white;
}
