.profile {
	display: flex;
	align-items: center;
	margin-bottom: 51px;
	margin-top: 40px;
}

.profile__image {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	object-fit: cover;
	background-position: center;
	margin-right: 24px;
}

.profile__info {
	display: grid;
	grid-template-areas: "title button" "description description";
	grid-template-columns: minmax(auto, 373px) auto;
	align-items: center;
}

.profile__title {
	font-size: 42px;
	font-weight: 500;
	grid-area: title;
	margin: 0 0 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.profile__edit-button {
	background: transparent url(../images/edit-icon.svg) center no-repeat;
	height: 24px;
	width: 24px;
	grid-template-areas: "button";
	border: 1px solid white;
	margin-left: 18px;
	cursor: pointer;
}

.profile__description {
	font-size: 18px;
	grid-template-areas: "description";
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.profile__add-button {
	background: transparent url(../images/add-icon.svg) center no-repeat;
	height: 50px;
	width: 150px;
	margin-left: auto;
	border: 1px solid white;
	cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
	.profile {
		flex-direction: column;
		width: 100%;
		margin: 0;
	}

	.profile__image {
		margin: 0;
	}

	.profile__title {
		font-size: 22px;
		margin-top: 26px;
		margin-bottom: 14px;
	}
	.profile__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}

	.profile__edit-button {
		height: 18px;
		width: 18px;
		margin-left: 10px;
	}

	.profile__description {
		width: 100%;
		text-align: center;
		font-size: 14px;
	}

	.profile__add-button {
		margin-top: 36px;
		margin-bottom: 36px;
		width: calc(100% - 38px);
		padding: 0;
		margin-right: 19px;
		margin-left: 19px;
	}
}

@media screen and (min-width: 760px) and (max-width: 1100px) {
	.profile {
		margin-top: 40px;
		margin-bottom: 51px;
	}
}
