.modal {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	padding: 0 19px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.3s, opacity 0.3s linear;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.modal_opened {
	visibility: visible;
	pointer-events: all;
	opacity: 1;
	transition-delay: 0s;
}

.modal__container {
	background-color: #fff;
	margin: auto;
	padding: 36px;
	border-radius: 10px;
	position: relative;
	width: 430px;
	height: 330px;
}

.modal__container-delete {
	background-color: #fff;
	margin: auto;
	padding: 36px;
	border-radius: 10px;
	position: relative;
	width: 430px;
}

.modal__container-avatar {
	background-color: #fff;
	margin: auto;
	padding: 36px;
	border-radius: 10px;
	position: relative;
	width: 430px;
	height: 272px;
}

.modal__close {
	width: 40px;
	height: 40px;
	background-image: url(../images/modal-close.svg);
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	bottom: calc(100% + 5px);
	left: calc(100% + 5px);
	cursor: pointer;
	transition: opacity 0.4s;
}

.modal__close:hover {
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}

.modal__heading {
	color: black;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	margin: 0;
}

.modal__form {
	display: flex;
	flex-direction: column;
	margin-top: 54px;
}

.modal__form-input {
	height: 50px;
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	border-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	padding: 0;
	width: 100%;
}

.modal__input_type_error {
	border-bottom: solid 1px #ff0000;
}


.modal__form-input::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #c4c4c4;
}

.modal__button {
	height: 50px;
	line-height: 22px;
	font-size: 18px;
	font-weight: 400;
	background-color: #000;
	color: #fff;
	margin-top: 18px;
	padding: 0;
	cursor: pointer;
}

.modal__button:hover:not(:disabled) {
	opacity: 0.8;
}

.modal__container-card {
	position: relative;
}

.modal__image-card {
	max-width: 100%;
	max-height: 540px;
}

.modal__caption-card {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	margin: 10px 0 0;
}

.modal__error {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #ff0000;
    margin-top: 5px;
    margin-bottom: 13px;
	position: absolute;
	top: 50px;
	left: 0;
}

.modal__error-visible {
	display:block;
}

.modal__label {
	position: relative;
}

.modal__button_disabled {
	background-color: #E5E5E5;
	cursor: not-allowed;
	border: none;
}

.modal__delete-container {
	position: relative;
	background-color: #fff;
	margin: auto;
	border-radius: 10px;
	width: 430px;
	height: 181px;
}

.modal__text-delete {
	margin-bottom: 38px;
}




@media screen and (min-width: 320px) and (max-width: 660px) {
	.modal__heading {
		font-size: 18px;
		line-height: 22px;
	}
	.modal__close {
		width: 26px;
		height: 26px;
		left: calc(100% - 30px);
		margin-bottom: 13px;
	}

	.modal__button {
		font-size: 14px;
		line-height: 17px;
	}
}

@media screen and (min-width: 320px) and (max-width: 660px) {
	.modal__container {
		top: 136px;
		max-height: 300px;
		max-width: 100%;
	}
	
	.modal__image-card {
		max-width: 100%;
	}
}

@media screen and (min-width: 660px) and (max-width: 880px) {
	.modal__container {
		max-height: 300px;
		max-width: 100%;
	}

	.modal__close-card {
		left: calc(100% - 30px);
        width: 30px;
        height: 30px;
	}
}
