@import url(../vendor/normalize.css);

@import url(../blocks/card.css);

@import url(../vendor/fonts.css);

@import url(../blocks/footer.css);

@import url(../blocks/header.css);

@import url(../blocks/page.css);

@import url(../blocks/profile.css);

@media screen and (min-width: 320px) and (max-width: 760px) {
	.header {
		margin-top: 28px;
		padding: 0;
		margin-left: 27px;
	}

	.profile {
		flex-direction: column;
		width: 100%;
		margin: 0;
	}

	.profile__title {
		font-size: 22px;
		margin-top: 26px;
		margin-bottom: 14px;
	}
	.profile__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}

	.profile__description {
		width: 100%;
		text-align: center;
		font-size: 14px;
	}

	.profile__add-button {
		margin-top: 36px;
		margin-bottom: 36px;
		width: 100%;
		padding: 0;
	}
}

@media screen and (min-width: 760px) and (max-width: 1100px) {
}

@media screen and (min-width: 1100px) and (max-width: 1500px) {
}
