@import url(../vendor/normalize.css);

@import url(./Inter-Black.woff);

@import url(./Inter-Black.woff2);

@import url(./Inter-Medium.woff);

@import url(./Inter-Medium.woff2);

@import url(./Inter-Regular.woff);

@import url(./Inter-Regular.woff);

@import url(../blocks/card.css);

@import url(../blocks/fonts.css);

@import url(../blocks/footer.css);

@import url(../blocks/header.css);

@import url(../blocks/page.css);

@import url(../blocks/profile.css);

@media screen and (max-width: 480px) {
	.profile {
		flex-direction: column;
	}

	.profile__info {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.profile__description {
		width: 100%;
		text-align: center;
	}

	.profile__add-button {
		margin: 0;
		width: 100%;
	}
}
